---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$footer-background-color: #242a34;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer footer {
  margin-top: 0;
}

.page__footer {
  margin-top: 0;
}

.page__content {
  margin-top: 20px;
}
